.Header {
  height: var(--headerHeight);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 300;
  button {
    border-radius: calc(var(--size__xl) / 2);
    &:focus,
    &:hover {
      color: var(--color__base--mid);
    }
    &:focus-visible {
      box-shadow: 0 0 0 var(--size__xs) var(--color__brand--light);
    }
  }
  &Logo {
    &:hover,
    &:focus {
      transform: scale(1.0125);
    }
    &:focus-visible {
      box-shadow: 0 0 0 var(--size__xs) var(--color__brand--light);
    }
  }
}
