.VillagerSearch {
  background-color: var(--bg);
  color: var(--type);
  display: block;
  min-height: calc(var(--size__xxxl) + var(--size__s));
  position: relative;
  &:after,
  &:before {
    border-radius: var(--size__s);
    content: "";
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:after {
    border: var(--size__xs) solid var(--type);
    opacity: 0.125;
  }
  &:before {
    background-color: var(--color__contrast);
    box-shadow: 0 var(--size__l) var(--size__xxxl) calc(var(--size__l) * -1)
      black;
    opacity: 0;
    transition: opacity 0.375s ease-in;
  }
  &:focus,
  &:hover {
    &:before {
      opacity: 0.125;
    }
  }
  &:focus-visible {
    box-shadow: 0 0 0 var(--size__xs) var(--color__brand--light);
  }
  p:first-child {
    font-family: var(--typeFamily__display);
  }
}
