.Detail {
  background-color: var(--bg);
  color: var(--type);
  min-height: calc(100vh - var(--headerHeight));
  blockquote {
    background-color: var(--type);
    color: var(--bg);
    p {
      font-family: var(--typeFamily__display);
      font-style: italic;
      font-weight: 500;
      &:before,
      &:after {
        opacity: 0.5;
      }
      &:before {
        content: "“";
      }
      &:after {
        content: "”";
      }
    }
  }
  &Villager {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    > figure {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
      img {
        height: 15rem;
        filter: drop-shadow(0 var(--size__s) var(--size__m) rgba(black, 0.5));
        object-fit: contain;
        object-position: center;
        position: relative;
        top: var(--size__m);
        width: 15rem;
      }
    }
  }
  &Extras {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    justify-items: center;
    figure {
      background-color: var(--type);
      color: var(--bg);
      width: 100%;
    }
  }
}
